<%- include('/header'); -%>

<div id="error" class="hidden">
    <p id="error-text"></p>
    <hr>
</div>

<div id="info" class="hidden">
    <h2 id="info-title"></h2>
    <p>
        github: <a id="info-github" href=""></a>
    </p>
    <p>
        content: <a id="info-mp" href=""></a>
    </p>
    <p>
        contentBusId: <code id="info-contentBusId"></code>
    </p>
    <p>
        tenantId: <code id="info-tenantId"></code>
    </p>
    <hr>
</div>

<div id="loading" class="hidden">
    <p>
        loading....
    </p>
</div>

<div id="github-form" class="hidden">
    <p>
        Enter github url: <input name="github" id="github-url" type="url" size="60">
        <button id="btn-connect">ok</button>
    </p>
</div>

<div id="user-list-panel" class="hidden">
    <h2>User List</h2>
    <ul id="user-list">
        <li id="add-user">
            <select name="user" id="user-name">
                <option value="content">content</option>
                <option value="forms">forms</option>
                <option value="index">index</option>
            </select>
            <button id="btn-add-user">....</button>
        </li>
    </ul>
    <div id="connected-user">
        <p>
            Connected user <strong><span id="me-displayName"></span> &lt;<a id="me-mail" href=""></a>&gt;</strong>
            <button id="btn-disconnect">disconnect</button>
        </p>
        <p>Scopes: <code id="info-scopes"></code></p>
        <p>IDP: <code id="info-idp"></code></p>
        <p>issuer: <code id="info-issuer"></code></p>
    </div>
    <p>
        <a href="<%= links.root %>">start over</a>
    </p>
</div>

<a id="link-connect" href="<%= links.connect %>"></a>
<a id="link-info" href="<%= links.info %>"></a>
<a id="link-disconnect" href="<%= links.disconnect %>"></a>

<%- include('/footer'); -%>


